body{
    background-image: url(../Pictures/popcorn-1433332_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

#formInfo{
    margin-top: 5vh;
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    width: 70%;
    height: 3vh;
    border-radius: 2rem;
}

button{
    font-size: 1.4rem;
    background-color: goldenrod;
    border: solid 4px #000;
    border-radius: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    margin-top: 10vh;
}